/* Nav bar transi */
.navbar{
    transition: 0.5s cubic-bezier(.77,.07,.71,.94) !important;
}
/* Diabled dimgray & Nepmia-gray */
.disabled {
    color: #ffffffbd !important;
}
.nepmia-gray{
    background-color: #3f3f3f !important;
}
.transitionB{
    transition: 0.5s ease;
}

/* Hidden and visible classes */
.hidden{
    opacity: 0 !important;
    transition: 0.2s ease !important;
}
.visible{
    opacity: 1 !important;
    transition: 0.2s ease !important;
}
/* /.Hidden and visible classes */

/* DevAlert */
.devalerton{
    height: 10%;
    bottom: 0%; 
    background-color: rgba(0,0,255,0);
    transition: 1s ease;
}
.devalertoff{
    height: 10%;
    bottom: -100%; 
    background-color: rgba(0,0,255,0);
    transition: 1s ease-in;
}
/* /.DevAlert */

#SPNGI{
    transition: 0.5s cubic-bezier(.77,.07,.71,.94);
}
.dsui-container{
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    transform: translate(0px,80px);
    display:flex;
    justify-content: center;
}
.dsui-subcontainer{
    height: auto;
    display:flex;
    width: 95%;
    justify-content: left;
    transition: 0.2s ease;
}
.dsui-subsubc{
    width: max-content;
    display: flex;
    flex-wrap: wrap;
}
.dsui-img{  
    border-radius: 5px;
    transition: 0.5s ease;
}
.dsui-img:hover{
    cursor: pointer;
    background-color: #8f8f8fb9;
    transition: 0.2s ease;
    
}
.dsui-img-container{
    background-color: #5f5f5f38;
    transition: 0.2s ease;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 5px;
    overflow: hidden;
}
.dsui-img-container:hover .dsui-img{
    opacity: 0.5;
    transition: 0.2s ease;
}
.dsui-img-container:hover{
    background-color: #ffffff;
    transition: 0.2s ease;
}
.dsui-hover{
    text-align: center;
}
.hiddenDSH{
    opacity: 0 !important;
    transition: 0.2s ease !important;
    transform: translate(0px,0px);
    background: transparent;
}
.visibleDSH{
    opacity: 1 !important;
    transition: 0.2s ease !important;
    transform: translate(0px,-23px);
    background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 0%, rgba(0,212,255,0) 100%);
}
.visibleDSHH{
    opacity: 1 !important;
    transition: 0.2s ease !important;
    transform: translate(0px,-47px);
    background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 0%, rgba(0,212,255,0) 100%);
}


.footer{
    background-color: transparent;
    margin-top: 100px;
    border-radius: 15px 15px 0px 0px;
    bottom: 0%;
    width: 100%;
    position: relative;
    z-index: 200;
}
body{
    min-height: 100%;
}

.img-viewer-container{
    position: fixed;
    display: flex;
    z-index: 500;
    top: 0%;
    left: 0%;
    background: radial-gradient(circle, rgba(22,22,22,0.8491597322522759) 70%, rgba(22,22,22,0.7007003484987745) 100%);
    transition: 0.5s ease;
    opacity: 1;
}
.img-viewer-closebtn{
    font-size: 30px;
    position:absolute;
    z-index: 1200;
    top: 2%;
    right: 2%;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s ease;
    color: white;
}
.img-viewer-closebtn:hover{
    color: #ff4848;
    transition: 0.5s ease;
}
.translated{
    transform: translateX(5px);
}


.circle-loader {
    margin-top: 15%;
    position: absolute;
    fill: transparent;
    stroke: #009688;
    stroke-width: 5;
    animation: dash 1.5s ease infinite,rotate 2s linear infinite,spin-colors 14s ease infinite;
}
.circle-loader2 {
    margin-top: 40%;
    position: absolute;
    fill: transparent;
    stroke: #009688;
    stroke-width: 5;
    animation: dash 1.5s ease infinite,rotate 2s linear infinite,spin-colors 14s ease infinite;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,95;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 85,95;
        stroke-dashoffset: -25;
    }
    100% {
        stroke-dasharray: 85,95;
        stroke-dashoffset: -90;
    }
}

@keyframes rotate {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

@keyframes spin-colors {
    0% { stroke: #ff4343;
    }
    10% { stroke: #ffd143;
    }
    20% { stroke: #43ff63;
    }
    30% { stroke: #4350ff;
    }
    40% { stroke: #fd43ff; 
    }
    50% { stroke: #ff4343;
    }
    60% { stroke: #ffd143;
    }
    70% { stroke: #43ff63;
    }
    80% { stroke: #4350ff;
    }
    90% { stroke: #fd43ff; 
    }
    100% { stroke: #ff4343;
    }
} 

.s1{
    opacity: 0;
    transform: scale(0.7);
    transition: 0.3s cubic-bezier(.65,-0.73,.44,.88);
}

.s2{
    opacity: 1;
    transform: scale(0.8);
    transition: 0.3s cubic-bezier(.55,.1,0,1.33);
}

.year-picker-title{
    text-align: center;
    color:black;
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.2) 100%);
}
.year-picker-container{
    width: 250px;
    height: 40%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s ease;
}
.year-picker-img{
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.ypc{
    justify-content: center;
    margin-top: 5%;
}



.sidenavL{
    left: -200px !important;
    top: 0%;
    transition: 0.5s cubic-bezier(.77,.07,.71,.94);
    z-index: 800;
}
.sidenavR{
    left:0px !important;
    top: 0%;
    transition: 0.5s cubic-bezier(.77,.07,.71,.94);
    z-index: 800;
}
.SideNav-container{
    background-color: rgba(75, 75, 75, 0.295);
}

#bgd{
    background-color: rgba(44, 44, 44, 0.7);
    transition: 0.5s cubic-bezier(.77,.07,.71,.94);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 700;
}
.bgdv{
    transition: 0.5s cubic-bezier(.77,.07,.71,.94);
    opacity: 1;
}
.bgdh{
    transition: 0.5s cubic-bezier(.77,.07,.71,.94);
    opacity: 0;
}

.uhere{
    background-color: rgba(255,255,255,0.7);
    pointer-events: none;
    color: #3f3f3f !important;
}
.copyright{
    font-size: 12px;
    color: #838383;
    text-shadow: 0px 0px 8px #83838356;
}
.copyright:hover{
    color: white;
    cursor: default;
    transition: 0.2s ease;
}

.hoverSN:hover{
    color: #3f3f3f !important;
    transition: 0.5s ease;
}
.hoverSN{
    color: white !important;
    transition: 0.5s ease;
}

#SideOff{
    color: white;
    transition: 0.5s ease;
}
#SideOff:hover{
    color: #ff4343;
    transition: 0.5s ease;
    cursor: pointer;
}

.trsY{
    transform: translateY(0px);
    transition: 0.2s ease;
    opacity: 0;
}

.trsYn{
    transform: translateY(-45px);
    transition: 0.2s ease;
    opacity: 1;
}


.vi{
    width: 60% !important;
}
.vi2{
    width: 100% !important;
}
.vi3{
    width: 20% !important;
}

.anticopy{
    position: fixed;
    z-index: 1000;
    width: 10000px;
    height: 10000px;
    background-color: transparent;
    top: 0%;
    left: 0%;
}



.DSUIPOP {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(.55,.1,0,1.33) forwards;
	        animation: text-pop-up-top 0.5s cubic-bezier(.55,.1,0,1.33) forwards;
}

 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  