/* Nav bar transi */
.navbar{
    transition: 0.5s cubic-bezier(.77,.07,.71,.94) !important;
}
/* Diabled dimgray & Nepmia-gray */
.disabled {
    color: #ffffffbd !important;
}
.nepmia-gray{
    background-color: #3f3f3f !important;
}
.transitionB{
    transition: 0.5s ease;
}

/* Hidden and visible classes */
.hidden{
    opacity: 0 !important;
    transition: 0.2s ease !important;
}
.visible{
    opacity: 1 !important;
    transition: 0.2s ease !important;
}
/* /.Hidden and visible classes */

/* DevAlert */
.devalerton{
    height: 10%;
    bottom: 0%; 
    background-color: rgba(0,0,255,0);
    transition: 1s ease;
}
.devalertoff{
    height: 10%;
    bottom: -100%; 
    background-color: rgba(0,0,255,0);
    transition: 1s ease-in;
}
/* /.DevAlert */

#SPNGI{
    transition: 0.5s cubic-bezier(.77,.07,.71,.94);
}