<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Home - N3 P</title>
  <!-- icon -->
  <link rel="icon" href="img/SupersonicNepgen.ico" type="image/x-icon">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="css/mdb.min.css">
  <!-- Main css rules -->
  <link rel="stylesheet" href="css/main.css">
  <!-- self-hosted fonts -->
  <link rel="stylesheet" href="css/fonts.css">
</head>
<body class="nepmia-gray">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark transparent fixed-top py-md-0 py-0">
  <!-- Brand -->
  <a class="navbar-brand" id="SPNG" href="#"><div data-tilt><img id="SPNGI" width="50" height="50" src="img/svg/SPNG.svg"/></div></a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainNav" aria-controls="MainNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="MainNav">
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a id="NavClick" class="nav-link rounded-lg ubuntuB">Design UI
              </a>
          </li>
      </ul>
      </div>
    
      <!-- /.Links -->
  <!-- /.Collapsible content -->
</nav>
<!-- /.Navbar -->
<!-- DevAlert -->
<div class="p-3 position-fixed d-flex flex-row-reverse devalertoff h-auto" id="devalert" style="z-index: 250;right: 0%;">
<div class="d-flex justify-content-center rounded-lg primary-color z-depth-1" style="background-color: rgba(0,0,255,.5);z-index: 250;width: 900px;">
<div class="align-self-center al p-3 ubuntu tw" style="text-align: center;">
  <strong class="ubuntuB">Attention!</strong> This website is still in developpement, it's design and features could change at anymoment.
  </div>
  <div class="btn secondary-color align-self-center rounded-lg" id="devalertbtn" data-tilt><span class="ubuntuB tw">OK</span></div>
</div>
</div>
<!-- /.DevAlert-->

<div class="img-viewer-container container-fluid vh-100 hidden d-none" id="img-viewer">
  <div class="img-viewer-closebtn ubuntuB">x</div>
  <div class="img-viewer-load"></div>
  <div class="img-viewer">
    <img src="" class="viewer-img" id="viewer-img">
  </div>
</div>


<!--- Content --->
 <div class="dsui-container 2016Container ">
<div class="flex-wrap dsui-subcontainer flex-wrap-anim">
  {% for img in demilsez %}
  <div class="dsui-img-container z-depth-1" data-tilt style="cursor: pointer;">
    <img width="150" height="150" src="{{url_for("static", filename="demilsez/" + img)}}" class="dsui-img" style="pointer-events: none;" id="dsui{{loop.index}}">
    <p class="dsui-hover hiddenDSH ubuntuB z-depth-1" style="pointer-events: none;">{{img}}</p>
  </div>
  {% endfor %}
</div>
</div>


<!--- <div class="dsui-container 2017Container">
  <div class="flex-wrap dsui-subcontainer flex-wrap-anim2">
    {% for img in demildiset %}
    <div class="dsui-img-container z-depth-1" data-tilt style="cursor: pointer;">
      <img width="150" height="150" src="{{url_for("static", filename="demildiset/" + img)}}" class="dsui-img" style="pointer-events: none;">
      <p class="dsui-hover hiddenDSH ubuntuB z-depth-1" style="pointer-events: none;">{{img}}</p>
    </div>
    {% endfor %}
</div>
</div>

<div class="dsui-container 2018Container">
  <div class="flex-wrap dsui-subcontainer flex-wrap-anim3">
    {% for img in demildihouit %}
    <div class="dsui-img-container z-depth-1" data-tilt style="cursor: pointer;">
      <img width="150" height="150" src="{{url_for("static", filename="demildihouit/" + img)}}" class="dsui-img" style="pointer-events: none;">
      <p class="dsui-hover hiddenDSH ubuntuB z-depth-1" style="pointer-events: none;">{{img}}</p>
    </div>
    {% endfor %}
</div>
</div>

<div class="dsui-container 2019Container">
  <div class="flex-wrap dsui-subcontainer flex-wrap-anim4">
      {% for img in demildineuf %}
      <div class="dsui-img-container z-depth-1" data-tilt style="cursor: pointer;">
        <img width="150" height="150" src="{{url_for("static", filename="demildineuf/" + img)}}" class="dsui-img" style="pointer-events: none;">
        <p class="dsui-hover hiddenDSH ubuntuB z-depth-1" style="pointer-events: none;">{{img}}</p>
      </div>
      {% endfor %}
</div>
</div>

<div class="dsui-container 2020Container">
  <div class="flex-wrap dsui-subcontainer flex-wrap-anim5">
      {% for img in demilvin %}
      <div class="dsui-img-container z-depth-1" data-tilt style="cursor: pointer;">
        <img width="150" height="150" src="{{url_for("static", filename="demilvin/" + img)}}" class="dsui-img" style="pointer-events: none;">
        <p class="dsui-hover hiddenDSH ubuntuB z-depth-1" style="pointer-events: none;">{{img}}</p>
      </div>
      {% endfor %}
</div>
</div> --->

<!--- /.Content --->
<footer class="footer d-flex flex-wrap justify-content-center">
  <div class="copyright ubuntuB tw p-2 text-center">© NEPMIA 2020
  <div class="ubuntuL tw p-2 text-center">All images present on this page are owned by their respective owners,you are not authorized to use any images present on this page. For more informations please contact me.</div>
</div></footer>
<!-- End -->
  <!-- jQuery -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Tilt.js -->
  <script type="text/javascript" src="js/tilt.js"></script>
  <!-- Main.js -->
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
